.bildstartsida{
    background-image: url("bild start sida.png");
    background-size:cover;
    background-repeat: no-repeat;
}
.bild{
    margin-left: 18%;
    margin-top: 15%;
    font-size: 55px;
}
.nav{
    list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.nav a{
    display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}
.nav li {
float: left;
}
.historiahändelse {
    margin-top:5%;
}
.historiahändelse li{
    font-size: 40px;
    font-style: bold;
}
.bild-60talet{
 width: 80%;
 margin-top: 100px;
    
}
p{
    font-size: 22px;
    color: white;
    
}
body{
    background-color: black;
}
.kontent{
    display:grid;
    grid-template-columns:50% 50%;
}
.bild-10talet{
    width:80%;
    margin-top: 150px;
}
.bild-70talet{
    width: 100%;
    margin-top: 200px;
}
.bild-80talet{
    width: 100%;
    margin-top: 350px;
}
.bild-90talet{
    width: 100%;
    margin-top: 100px;
}
.bild-00talet{
    width: 100%;
    margin-top: 200px;
}
.grunl {
    width: 100%;
    margin-top: 100px;
}
.open {
    width: 100%;
    margin-top: 260px;
}
.amertys{
    width: 100%;
    margin-top: 60px;
}
.historiautveckling{
   
}