<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
    <div > 
      <ul class="nav">
          <li>
              <a href="/index.html">Start sida</a>
            </li>
        <li>
          <a href="/view/Historiahändelse.html">Historia händelse</a>
        </li>
      
                 <li>
                     <a href="/view/historia och uvekling.html">Historia och utveckling</a>
                   </li>
                   <li>
                       <a href="/view/grundläggande principer som webben bygga på.html">Grundläggande principer som webben bygga på</a>
                     </li>
                     <li>
                         <a href="/view/webbpubliceringssystem.html">webbpubliceringssystem</a>
                       </li>
      </ul>
    </div>
    <div class="historiahändelse">
        <ul>
        <li>
            <a href="">1960-Talet</a>
            </li>
           <h3><p  onclick="visainnehåll60()"> 1962-1970 • Sovjetunionen: OGAS</p></h3>
            <div id="60" class="kontent"></div>
            
            <li>
                <a href="">1970-Talet</a>
            </li>
            <h3><p onclick="visainnehåll70()">1972 Svensk upptäckt byggs in i Arpanet</p></h3>
            <div id="70" class="kontent"></div>
           
            <li>
                <a href="">1980-Talet</a>
                </li>
                <h3><p onclick="visainnehåll80()">'' 1983 DNS skapas – nu blir det enkelt att hitta rätt på nätet</p></h3>
                <div id="80"class="kontent"></div>
                <li>
                    <a href="">1990-Talet</a>
                </li>
                
               <h3><p> 1993 Världens första webbkamera lockar miljonpublik – till en kaffebryggare</h3></p>
          <div class="kontent">
                <div>
                  <p>1993 blir en kaffepanna den första stora internetkändisen. Allt börjar med en besvikelse som nog många kan relatera till – att sugen på kaffe gå till den avlägset belägna bryggaren och upptäcka att den är tom. Personalen på datorlaboratoriet vid Cambridges universitet löser problemet genom att 22 november 1993 installera en kamera och lägga ut bilderna i specialskrivna programmet XCoffee.
                    På så sätt kan forskarna alltid hålla reda på bryggaren i Trojan room utan att behöva vanka nerför alla trappor.
                    Först finns bilden bara tillgänglig i universitetets egna nätverk 1991, men två år senare läggs bilderna ut på internet. Martyn Johnson, som inte kan nå det interna nätverket, bygger tillsammans med Daniel Gordon ett skript som framkallar de första rörliga bilderna på nätet.
                    Bilden är dock grå och grynig (128×128 pixlar) och det mest rafflande är att tolka om bryggaren är på väg att tömmas, eller om den brygger nytt kaffe. Miljontals tittare från hela världen kommer med åren att bevaka direktsändningen från kaffebryggaren, som till och med blir en turistattraktion. Anledningen till uppmärksamheten enligt forskarna själva? Bryggaren blev känd för att vara känd.
                    Först 22 augusti 2001 stängs kameran av, eftersom laboratoriet ska flytta till en ny byggnad. Själva bryggaren (en Krups) säljs för 3350 pund på Ebay (efter 71 bud) till tidningen Der Spiegels webbredaktion. Enligt dem blir bryggaren då världens dyraste. Webbkameran lever sedan dess vidare från Tyskland   
                </p>  
                </div>
                 
                <img src="/90-talet.png" alt=""class="bild-90talet">
                </div>
                <li>
                    <a href="">2000-Talet</a>
                    </li>
                    <h3><p>2001 Wikipedia och Susning.nu förnyar uppslagsverken – nu får alla skriva+</h3></p>
                    <div class="kontent">
                        <div>
                            <p>I början av 2001 startas Wikipedia, ett slags gratis uppslagsverk på nätet som skapas och redigeras av användarna själva.
                                Sverige är ett av de första länderna som får ett Wikipedia på sitt eget språk (före är endast engelska, tyska och katalanska). Arbetet sätter igång i maj 2001 även om det inte blir riktigt aktivt förrän 2002. Den äldsta bevarade svenska Wikipedia-sidan är Svenska och publicerades 23 maj 2001, här ser du hur den såg ut:
                            </p>
                            <p>Svenskspråkiga Wikipedia närmar sig i dag 4 miljoner olika artiklar. Wikipedia har också en svensk stödförening, Wikimedia Sverige, som verkar för att sprida fri kunskap. I dag är Wikipedia en av världens största webbsidor med över en halv miljard besök i månaden.
                                Men länge finns en svensk konkurrent.
                                Susning.nu utmanar
                                I oktober 2001 startar Susning.nu av programmeraren Lars Aronsson, med hjälp av programvaran UseModWiki, som är fri att använda av vem som helst. Plötsligt finns samlad svensk information om allt från växthuseffekten till karaktärerna i Simpsons, vilket är något helt nytt. Här finns artiklar om ämnen som de ”riktiga” uppslagsverken aldrig brytt sig om.
                            </p>
                            <p>Lars Aronsson. Foto: Johan Schiff, Licens: CC SA 1.0
                                Namnet Susning.nu kommer från Lars Aronssons syn på vad sajten kan användas till. Den kommer aldrig bli heltäckande, men kan ge användaren en susning om olika ämnen.
                                Sveriges mest använda encyklopedi heter i slutet av 2003 varken Nationalencyklopedin eller Wikipedia, utan just Susning.nu, som vid tillfället är världens näst största wiki efter den engelskspråkiga delen av Wikipedia.
                                Blir omsprungna
                                Klotter blir sajtens fall. I april 2004 stoppas möjligheterna för allmänheten att redigera inlägg, med effekten att uppdateringarna minskar kraftigt. Då finns 60 000 artiklar på svenska om olika ämnen, skrivna av entusiaster som kallar sig själv ”susare”. Men vandaliseringen visar sig omöjlig att stoppa.
                                I januari 2005 blir svenska Wikipedia större än Susning.nu och slaget är avgjort. Lars Aronsson engagerar sig därefter i Wikipedias svenska avdelning. 2009 stängs Susning.nu för gott.
                            </p>
                            
                        </div>
                        <img src="/00-talet.png" alt=""class="bild-00talet">
                    </div>
    <li>
    <a href="">2010-Talet</a>
    </li>
   <h3><p> </p></h3>
    <div class="kontent">
        <div>

            <h3><p>Instagram tar världen med storm
                .</h3><br></p>
               <p> Amerikanen Kevin Systrom, 26 år, och brasilianaren Mike Krieger, 24 år, lägger den 6 oktober 2010 upp appen Instagram för nedladdning. Namnet är en mix av orden ”instant” och ”telegram”. En månad senare har tjänsten en miljon användare – och tillväxten är massiv.
Flöden är vi vana vid sedan tidigare. Men då handlar det om text. På Instagram lägger användaren upp bilder. Med hjälp av ett filter blir fotona – och livet – lite snyggare. Semesterbilder varvas med maträtter och barn som leker. Men med hjälp av hashtags går det även att hitta globala bildströmmar inom sitt favoritområde.
9 april 2012 köps Instagram av Facebook för sju miljarder kronor. I juni 2013 lanseras video på Instagram. Samma år når ordet och det nya fenomenet selfie Svenska akademiens ordlista (egobild och självis läggs fram som användbara synonymer).
Som svar på Snapchats stora popularitet lanserar Instagram i augusti 2016 ett liknande format – Instagram Stories. Samma år börjar också annonser tillåtas i appen.
Svenskarna flitiga användare
Svenskarna är flitiga användare av fotoappen. 2019 använder 61 procent av de svenska internetanvändarna Instagram och den dagliga användningen ligger på strax över 40 procent, enligt rapporten Svenskarna och internet 2019.
Flera svenskar har blivit världskändisar genom sina flöden. Yogainstruktören Rachel Brathen har nått miljontals, liksom fotografen Christoffer Collin, mer känd som ”Wisslaren”. Etta på svensktoppen är Zlatan Ibrahimovic.
</p>
        </div>
        <img src="/10-talet.png" alt=""class="bild-10talet">
    </div>
        </ul>
    </div>
    
    
  </body>
  <script src="/js/script.js"></script>
</html>