<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
    <div > 
        <ul class="nav">
                <li>
                        <a href="/index.html">Start sida</a>
                      </li>
          <li>
            <a href="/view/Historiahändelse.html">Historia händelse</a>
          </li>
        
                   <li>
                       <a href="/view/historia och uvekling.html">Historia och utveckling</a>
                     </li>
                     <li>
                         <a href="/view/grundläggande principer som webben bygga på.html">Grundläggande principer som webben bygga på</a>
                       </li>
                       <li>
                           <a href="/view/webbpubliceringssystem.html">webbpubliceringssystem</a>
                         </li>
        </ul>
      </div>
      <div class="historiaochutveckling">
        <ul>
        <li>
            <a href="">1960-Talet</a>
            </li>
           <h3><p> Historia och utveckling </p></h3>
            <div class="kontent">
                <div class="historiautveckling">
 
                 <p> Jag har vald en sida som är DIF.se . </p>
                  <p>Min egna tankar kring om att varför sidan har utveckla som det gör är för att nuförtiden så finns det oftas att sidorna visa nyheter med bilder det är därför har sidan själv utveckla som det gör nu.</p>
                 <p>Jag använda detta sidan väldigt oftas för att köpa biljett  så det finns en sak som sidan skulle kunna utveckla är att man kan köpa biljett till bortamatcher på sin egna sidan så slippa man så in på andra lag sidan och behöver göra ett nytt konto varje gång för att man ska kunna köpa ett bortamatch biljett .</p>
                 
 

                </div>
                 <img src="/1990.PNG" alt=""class="bild-60talet">
                 <div> hej </div>
                 <img src="/2020.PNG" alt=""class="bild-60talet">

            </div>


  </body>
  <script src="js/script.js"></script>
</html>