<html lang="en">
  <head>
    <title>Projekt: Webbhistoria</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/style.css">

  </head>  
  <body>
    <div > 
        <ul class="nav">
                <li>
                        <a href="/index.html">Start sida</a>
                      </li>
          <li>
            <a href="/view/Historiahändelse.html">Historia händelse</a>
          </li>
        
                   <li>
                       <a href="/view/historia och uvekling.html">Historia och utveckling</a>
                     </li>
                     <li>
                         <a href="/view/grundläggande principer som webben bygga på.html">Grundläggande principer som webben bygga på</a>
                       </li>
                       <li>
                           <a href="/view/webbpubliceringssystem.html">webbpubliceringssystem</a>
                         </li>
        </ul>
      </div>
  </body>
  <div class="webbpubbliceringssystem">
      <ul>
      <li>
          </li>
         <h3><p>OpenWGA</p></h3>
          <div class="kontent">
              <div>
                 <p> OpenWGA is a Content Management System (CMS) running on the Java Enterprise Edition Platform. It is used to build, manage and publish websites and content-centric web applications. The system is developed and maintained by German company Innovation Gate GmbH.
                  </p>
                <h3><p>Components and Editions of the CMS platform</h3></p>  
                  <p>The central part of the platform is the OpenWGA Server, a web server process responsible for publishing web applications. It itself is a web application of the Java Enterprise Edition Platform and is available in two editions:
                  The Community Edition contains the content publishing engine, support for storing content data on MySQL, PostgreSQL, Microsoft SQL Server and HSQLDB databases and includes basic capabilities for user authentication. It is licensed as Open Source Software under GNU GPLv3 or higher and usable without fee. A special exception to the GNU GPL allows distribution of custom-licensed OpenWGA plugins along with the OpenWGA server.
                  The Enterprise Edition builds upon the Community Edition to add support for database platforms (Lotus Domino, IBM DB2, Oracle Database), user authentication systems (LDAP directory servers, multiple shared authentication) and external data sources (CMIS repositories, Lotus Domino Databases) that are considered "enterprise grade" by the product creators. It consists of the GPL licensed community edition plus a custom-licensed "Enterprise Plugin" containing the additional features. Access to the Enterprise Edition is available via a paid subscription model by Innovation Gate GmbH.
                  Another part of the platform is the OpenWGA developer studio, an Integrated development environment for developing and testing OpenWGA web applications, based on the Eclipse IDE framework.
                </p>
                <h3><p>History</h3></p>  
                  <p>OpenWGA was long time developed under the name of WGA and was by this time a commercial Web Content Management System only available to the German market. With releasing it under Open Source License it was rebranded to OpenWGA. The acronym originally stood for "WebGate Anywhere", containing a reference to the predecessor software "Webgate", a CMS running on the IBM Lotus Domino Platform. The WGA/OpenWGA software has no connection with Windows Genuine Advantage, also known as WGA.
                </P>
                  
              </div>
               <img src="/Open.png" alt="" class="open">
      </div>

      <li>
      </li>
      <h1><p>Ametys CMS</p></h1>
      <div class="kontent">
          <div>
             <p> Ametys is a free and open source content management system (CMS) written in Java. It is based on JSR-170 for content storage,[2] Open Social [3] for gadget rendering and a XML oriented framework. It is primarily designed to run large corporate websites, blogs, intranets and extranets on the same server.
              As of May 2012, Ametys claims to run more than 30 000 websites.[citation needed]
              Ametys is Java based [4] and runs on any computing platform capable of running the Java Runtime Environment and an application server.
            </p>
            <p> History </p>
             <p> Ametys is a professional open-source CMS (content management system) written in Java.
              Ametys was created in 2003 by passionate Web and Java experts. Since 2005 Ametys has been deployed in higher education, for which specific components for uPortal and Jasig projects were developed.[citation needed] In 2009 it was ported to the level of a professional open source CMS by Anyware Services (headquarters in France).
              Ametys evolved through the collaboration of the community of developers, users and integrators.
              The downloadable version includes user authentication via LDAP and CAS, and a WYSIWYG editor administration.
              Ametys 3.4 was released in August 2012 and saw several improvements and new functionality including new plugins as UGC, glossary, FAQ, and blog management. It also included new practices of Social web.
            </p>
            <p>  Modules </p>
            <p>  Ametys comes with many features :</p>
            <p> Multi-site and multilingual platform</p>
            <p> Front-end editing</p>
            <p> RSS feed support</p>
            <p>  Document library manager, Alfresco and other document library integration</p>
            <p> LDAP Integration</p>
            <p> Website Tools : comments feed, Share buttons, Twitter feed integration, OpenSocial gadgets</p>
            <p> Blogs and wikis</p>
            <p> Newsletter management</p>
            <p> Web Form management</p>
            <p> Online survey management</p>
            <p> Maps</p>
              
              
          </div>
           <img src="/Ametys.png" alt=""class="amertys">
      </div>
     
      <li>
          
  <script src="js/script.js"></script>
</html>